/* common */
h1 {
  margin: 0;
  font-weight: normal;
  font-size: 24px;
}
h2 {
  margin: 0;
  font-weight: normal;
  font-size: 20px;
}
p{
  margin: 0;
}

img {
  object-fit: cover;
}

/* header */
header{
  background: #efefef;
}
header .container{
  width: 400px;
  margin: 0 auto;
  padding: 32px 0;
  display: flex;
  align-items: center;
}
.icon{
  vertical-align: bottom;
  border-radius: 50%;
}
header .container div + div {
  margin-left: 32px;
}
header ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
header ul a + a {
  margin-left: 16px;
}

/* main */
main .container{
  width: 400px;
  margin: 0 auto;
}
main h1{
  text-align: center;
  padding: 60px;
}
main h2{
  margin-top: 16px;
}
main p{
  margin-top: 16px;
  line-height: 1.8;
}
main section + section{
  margin-top: 60px;
}

/* footer */
footer{
  text-align: center;
  padding: 60px 0;
  color: #aaa;
}
